header {
    background-color: #d7dbe7;
    padding: 20px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.left_area a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: 900;
}   

.left_area a:hover {
    color: blue;
    font-size: 24px;
}

.right_area {
    display: flex;
    font-size: 18px;
}

.right_area .item {
    margin-left: 20px;
}

.right_area .item .basketIcon {
    text-decoration: none;
    color: black;
}

.right_area .item .basketIcon:hover {
    color: red;
    font-weight: bold;
}

.right_area .item .basketIcon .dish-num {
    position: absolute;
    background-color: orange;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    top: 10px;
    right: 10px;
}

.right_area .item .basketIcon .dish-num .num {
    color: #fff;
    font-size: 75%;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}

.right_area .item i {
    cursor: pointer;
}

.content {
    padding: 30px;
}

.content .title {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 20px;
}

/*home*/
.card-container {
    display: grid;
    gap: 4%;
    grid-template-columns: repeat(3, 30.66%);
    padding: 0 100px;
}

.card-container .card a {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.card-container .card img {
    max-width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

.card-container .card span {
    font-size: 18px;
    font-weight: 700;
}

/*dishes*/
.dish-container {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(5, 18.5%);
}

.dish-container .card {
    border-radius: 1rem;
    padding: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 4px 1px #747474;
}

.dish-container .card a {
    text-decoration: none;
}

.dish-container .card img {
    width: 100%;
    height: 130px;
    object-fit: cover;
    margin-bottom: 5px;
}

.dish-container .card .dish-name {
    font-size: 16px;
    color: #ff0099;
}

.dish-container .card .data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex:1;
}

.dish-container .card .price {
    font-size: 16px;
    font-weight: bold;  
}

.dish-container .card .description {
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
   -webkit-line-clamp: 2; 
   -webkit-box-orient: vertical;
    flex:3;
}

.dish-container .card .btn-group{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex:1;
}

.dish-container .card .button,
.cart-container .dish-info .button {
    padding: 5px 6px;
    border-radius: 5px;
    outline: none;
    border: 1px solid gray;
    font-size: 15px;
    text-align: center;
}

.dish-container .card .cartBtn,
.cart-container .dish-info .cartBtn {
    background-color: black;
    color: white;
}

.dish-container .card .cartBtn:hover,
.cart-container .dish-info .cartBtn:hover {
    background-color: rgb(49, 48, 48);
    cursor: pointer;
}

.dish-container .card .orderBtn,
.cart-container .dish-info .orderBtn {
    background-color: red;
    color: white;
}

.dish-container .card .orderBtn:hover,
.cart-container .dish-info .orderBtn:hover {
    background-color: rgb(200, 0, 0);
}

/*productDetails */
.cart-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
}

.cart-container .dish-image {
    width: 40%;
}

.cart-container img {
    max-width: 100%;
    max-height: 100%;
}

.cart-container .dish-info {
    width: 55%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 241, 214);
    border-radius: 5px;
    padding: 15px;
}

.cart-container .dish-info .address {
    font-size: 14px;
    margin-bottom: 10px;
}

.cart-container .dish-info .rating {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cart-container .dish-info .number-rating {
    background-color: orange;
    border-radius: 5px;
    padding: 1px 7px;
    margin-left: 10px;
    text-align: center;
}

.cart-container .dish-info .price {
    margin-bottom: 20px;
}

.cart-container .dish-info .btn-group {
    display: flex;
    border-top: 1px solid gray;
    padding: 10px;
}

.cart-container .dish-info .btn-group a {
    text-decoration: none;
}

.cart-container .dish-info .cartBtn {
    margin-right: 20px;
}

.container2 {
    background-color: #f2f2f2;
    padding: 20px;
}

.comment-container {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 25%);
    
}

.comment-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
}

.comment-card .user-info span {
    font-weight: bold;
}

.comment-card .user-image {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.comment-card .comment {
    font-size: 15px;
}

/*cart*/
.shopping-cart {
    box-shadow: 2px 2px 4px #ddd;
    padding: 20px;
    margin: auto;
    max-width: 800px;
    background-color: rgb(245, 255, 220);
    margin-top: 25px;
}

.shopping-cart .title, .ship-container .title {
    font-size: 20px;
    font-weight: bold;
    color: red;
}

.shopping-cart .nodish-message {
    font-size: 24px;
    margin-top: 10px;
}

.shopping-cart .table-container {
    margin-top: 10px;
    margin-bottom: 20px;
}

.shopping-cart img {
    width: 60px;
    height: 60px;
}

.shopping-cart table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.shopping-cart table thead td {
    font-weight: 900;
}

.shopping-cart table tr {
    border-bottom: 1.5px solid gray;
}

.shopping-cart table th, td {
    padding: 10px;
}

.item-button {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.item-button button {
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid gray;
    background-color: #d7dbe7;
    padding: 3px 7px;
}

.item-button button:hover {
    background-color: #ddd;
}

.trash-icon {
    background: none;
    border: none;
    font-size: 15px
}

.trash-icon:hover {
    color: red;
    cursor: pointer;
}

.shopping-cart .btn-container {
    display: flex;
    justify-content: flex-end;
}

.shopping-cart .payBtn {
    background-color: blue;
    color: white;
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px solid gray;
    outline: none;
}

.shopping-cart .payBtn:hover {
    cursor: pointer;
    background-color: rgb(27, 27, 154);
}

/*pay*/
.ship-container {
    box-shadow: 2px 2px 4px #ddd;
    padding: 20px;
    max-width: 800px;
    background-color: rgb(245, 255, 220);
    margin: 25px auto;
}

.ship-container #shipForm {
    width: 100%;
    margin: 20px 0 0 10px;
}

.ship-container #shipForm .input-div {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.ship-container #shipForm .input-div label {
    width: 200px;
    font-size: 18px;
}

.ship-container #shipForm .input-div select {
    border-radius: 4px;
    font: inherit;
    padding: 8px 40px 8px 16px;
    box-sizing: border-box;
}

.ship-container #shipForm .input-div option {
    padding: 5px 20px;
}

.ship-container #shipForm .input-div input[type="text"] {
    width: 50%;
    font: inherit;
    outline: none;
    border: 1px solid black;
    font-size: 15px;
    padding: 7px 8px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.ship-container #shipForm .btn-div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 0;
}

.ship-container #shipForm .btn-div .btn {
    padding: 7px 10px;
    margin-right: 30px;
    border-radius: 5px;
    color: white;
    border: 1px solid gray;
    outline: none;
}

.ship-container #shipForm .btn-div .payBtn {
    background-color: blue;
}

.ship-container #shipForm .btn-div .payBtn:hover{
    cursor: pointer;
    background-color: rgb(27, 27, 154);
}

.ship-container #shipForm .btn-div .cancelBtn {
    background-color: red;
    color: white;
    border: 1px solid gray;
    outline: none;
}

.ship-container #shipForm .btn-div .cancelBtn:hover {
    cursor: pointer;
    background-color: rgb(158, 15, 15);
}

/*paysuccess*/
.paysuccess-message {
    max-width: 300px;
    max-height: 100px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: rgb(138, 222, 175);
    text-align: center;
    margin: 100px auto;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 18px;
    margin-top: 10px;
}
  
.pagination a {
    color: black;
    float: left;
    padding: 5px 10px;
    text-decoration: none;
}

.pagination a:hover {
    background-color: #ddd;
    color: red;
    cursor: pointer;
}

@media (max-width: 480px) {
    .dish-container {
        gap: 10px;
        grid-template-columns: 97%;
    }
}

@media (min-width: 481px) {
    .dish-container {
        gap: 15px;
        grid-template-columns: repeat(2, 48.4%);
    }
}

@media (min-width: 859px) {
    .dish-container {
        gap: 15px;
        grid-template-columns: repeat(5, 18.4%);
    }
}